@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#warning {
  border-radius: 25px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
  margin: 1em 0;
  padding: 10px;
}

ul.warning {
  margin: 0px !important;
}

#notice {
  border-radius: 25px;
  background: lightblue;
  margin: 1em 0;
  padding: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#remember_me {
  width: auto;
  margin-left: 0;
}


// Commentary box from http://bootsnipp.com/snippets/featured/user-comment-example
.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}

.list-group-item-like {
  background-color: #CCFFCC;
  border-color: #DDD;
}
.list-group-item-dislike{
  background-color: #F5D8D7;
  border-color: #DDD;
}

a.btn-whitelink:visited{
  color: white
}

.mycontent-right {
  border-left: 1px solid #CCC;
}
